<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChatService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ChatServerLibrary/ChatService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChatService"
                contract="ChatServiceReference.IChatService" name="BasicHttpBinding_IChatService" />
        </client>
    </system.serviceModel>
</configuration>